/* Как без выбивания из потока (без position: absolute) сделать баннер шире родителя и на всю ширину экрана */

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
